.trending-giphy {
	text-align: center;
	background-color: #282c34;
	min-height: 100vh;
	color: white;
	padding-block: 2rem;
}

/* Gif Result */
.trending-giphy-result {
	display: flex;
	gap: 0.5rem;
	max-width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-inline: 1.5rem;
}

.trending-giphy-result > * {
	border-radius: 0.3em;
	margin-top: 1.5rem;
}

.trending-giphy-result img {
	border-radius: 0.3em;
	min-height: 15rem;
	box-shadow: 0 1em 2em rgba(0, 0, 0, 0.3);
}
