/* Form Search */
.figure {
	margin: 0;
	height: fit-content;
	background-color: rgba(255, 255, 255, 0.1);
}

.figure img {
	max-width: 20rem;
}

.figcaption {
	padding: 0.5em;
	font-size: 1.25rem;
}
