nav {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #fff;
	background-color: #282c34;
	padding-block: 1.5rem;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
	position: relative;
}

nav .navbar-logo {
	width: 8rem;
}

nav .navbar-logo img {
	width: 100%;
}

nav ul {
	display: flex;
	gap: 2rem;
	list-style-type: none;
}

nav li {
	display: inline;
}

nav a {
	text-decoration: none;
	color: white;
	font-family: monospace;
	padding-block: 0.5rem;
}

nav a:hover {
	border-bottom: 2px solid #fff;
}
