.App {
	text-align: center;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

form {
	display: flex;
}

input {
	border: none;
	background-color: transparent;
	border-bottom: 1px solid #aaa;
	color: white;
	font-size: calc(10px + 2vmin);
	font-family: monospace;
	padding: 0.5em;
}

button {
	border: none;
	background-color: #6157ff;
	color: white;
	font-size: calc(10px + 2vmin);
	font-family: monospace;
	padding: 0.5em;
	cursor: pointer;
	transition: all 0.2s;
}

button:hover {
	filter: saturate(5);
	transform: translateY(2px);
}

.result {
	padding: 0.5em 0;
}

.result img {
	border-radius: 1em;
	box-shadow: 0 1em 2em rgba(0, 0, 0, 0.3);
}
