* {
	box-sizing: border-box;
}

ul,
h1 {
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	font-family: monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: calc(10px + 2vmin);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
